* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Montserrat-M', 'Optima','Futura','Inter', sans-serif;
}


/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color:  rgb(112, 78, 238);
    min-height: 6.25rem; /* responsive */
    padding: 0 1.25rem;
}


/* Hamburger menu */


.hamburger {
    display: none;
    cursor: pointer;
    margin-right: 1.25rem;
    border-style: none;
    background-color: white;
    padding: 1rem;
}

.bar {
    display: block;
    width: 1.5rem;
    height: 0.2rem;
    margin: 0.3rem auto;
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    background-color: rgb(112, 78, 238);
}


/* Navbar and main configuration */


.nav-and-main {
    display: flex; 
}


/* Left Navbar */



.nav-menu {
    flex: 0 0 16rem; /* No changes with base 16rem */
    background-color: rgb(239, 236, 252);
}

.nav-menu li {
    list-style: none;
}

.nav-menu li:hover {
    background-color: #cac2ff;
}

.nav-menu a {
    color: rgb(112, 78, 238);
    display:flex;
    align-items:center;
    padding: 0 0.6rem 0 1.875rem ;
    min-height: 6.875rem; 
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Montserrat-B', sans-serif;
    border-bottom: 0.06rem solid rgba(112, 78, 238, 0.2);
}


/* Banner */


main {
    flex: 1 1 auto; /* fix fiber banner */
}

.banner {
    background-size: cover;
    background-position: center;
    min-height: 31rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
     
}

.banner-adsl {
    background-image: url("Images/Page2PhotoPrincipale.jpg"); 
}
.banner-fiber {
    background-image: url("Images/Page3PhotoPrincipale.jpg");
}
.banner-home {
    background-image: url("Images/Page1PhotoPrincipale.jpg");
}


/* Summary */


.summary {
    color: rgb(112, 78, 238);
    background-color: rgb(239, 236, 252);
    max-width: 50rem;
    margin-top: 4rem; 
    padding: 1.25rem;
}

.summary a {
    display: block;
    padding: 1.25rem 0;
    color: rgb(112, 78, 238);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Montserrat-B','GC Kualine', sans-serif;

}


/* Main content without banner */


.Content {
    padding-left: 6rem;
    padding-right: 3rem;
    max-width: 56rem;
    width: 100%;
    background-color: white;
    color: #4d4d4d;
}

p, ul {
    margin-bottom: 1.875rem;
    font-size: 1.125rem;
    line-height: 1.8
}

/* Images */
img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain; 
}

.img-medium {
    width: 100%;
    min-width: 18.75rem;
}

.img-large {
    width:100%
}

.img-logo {
    max-width: 7rem;
}

/* List from the content */
.Content li {
    margin-left: 2.5rem; /* fixing bullet points being to left */
}

/* Text with image on the right */
.text-with-image {
    display: flex;
    margin-bottom: 1.875rem;
}
/* for text + image on same line we need the same margin so we reset the margin for the text because otherwise it is double margin*/
.text-with-image p {
    margin-bottom: 0;    
}

.text-with-image img {
    margin-left: 1.25rem;   
}

.adsl-cable-img {
        flex-direction: column;
}

/* Table */
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center; 
    border: 0.125rem solid black;
    margin-bottom: 4rem;
}

th, td {
    border: 0.0625rem solid #ccc;
    padding: 1.25rem;
}

th {
    background-color: #2c3e50;
    color: #ecf0f1;
}

td {
    background-color: white;
    color: black;
}

/* Table color from fiber page  */
.green {
  background-color: #71b080; 
}

.yellow {
  background-color: #fcdf83; 
}

.red {
  background-color: #ee6370;
}


/* Footer */


footer {
    display: flex;               
    align-items: center;         
    justify-content: center;
    background-color: rgb(112, 78, 238);
    color: white;
    font-size: 0.875rem;
    min-height: 12.5rem;
         
}

footer p {
    margin: 0; 
}


/* Titles */


.site-title, h1, .summary-title, .section-title {
    font-family: 'Montserrat-B' ; 
}

.site-title {
    font-size: 1.25rem;
    color: rgb(239, 236, 252);
    margin: 0 3.125rem;
    font-family: 'Orbitron'
}

h1 {
    font-size: 2.8rem;
    font-weight: bold;
    color: white;
    margin:2rem 6rem; /* specialement pour le long titre du homepage*/
    font-family: 'Orbitron';
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7); /* Effect for clear title*/
}

.summary-title {
    font-size: 1.25rem;
    color: rgb(112, 78, 238);
    margin: 0 1.25rem;
    margin-bottom: 0.625rem;
}

.section-title {
    font-size: 1.4rem;
    color: #011e2a;
    margin-bottom: 2.2rem;
    margin-top: 4rem; 
}



/* Responsive design (small screen) */


@media(max-width:768px){

    /* Header */

    /* reduce logo and title sizes so everything enters in the header*/
    .img-logo {
        max-width: 6rem; 
    }

    .site-title {
    font-size: 0.9rem;
    margin: 0 1.5rem;
    }

    /* Hamburger menu and Nav menu */
    .hamburger{
        display: block;
        margin-left: auto;   /* le pousse à droite */
        margin-right: 1rem;  /* espace avec le bord */
    }
    /*Transform the hamburger menu into a cross */ 
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(0.5rem) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-0.5rem) rotate(-45deg);
    }
    /* 1. Empiler les éléments  et fais disparaitre naturellement le navbar de gauche*/
    .nav-and-main {
        flex-direction: column;
    }
    .nav-menu{
        position:fixed;
        left: -100%;
        background-color: rgb(239, 236, 252);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-menu a {
        justify-content: center;
    }
    .nav-menu.active{
        left: 0;
    }
    .nav-menu[hidden] { display: none; }


    /* Main content with banner */
   
    h1 {
    font-size: 2.5rem;
    margin:1rem 3rem;
    }

    /* Main content without banner */


    .Content {
        padding: 0 2.5rem;
        display: flex;
        flex-direction: column ;
    }

    table {
    display: block;     /* devient scrollable */
    overflow-x: auto;
    white-space: nowrap; /* garde les colonnes côte à côte */
    } 

    /* Text with image */
    .text-with-image {
        flex-direction: column;
        align-items: center;
    }
    .text-with-image img {
        margin-left: 0;
        margin-top: 0.625rem; 
        max-width: 22rem;
        height: auto;   
    }
    .text-with-image p, .text-with-image li {
        max-width: 100%;  
    }
}


/* Special rectification for text with image */

@media(max-width:1100px){
    
    .text-with-image {
        flex-direction: column;
        align-items: center; 
    }

    .img-medium {
    width: 100%;
    max-width: 20rem;
    height: auto;
    margin-top: 1rem; 
    }
} 


/* font-family */

@font-face {
  font-family: 'Montserrat-M';
  src: url('./fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-B';
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/orbitron-medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}