* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Montserrat-M', 'Optima','Futura','Inter', sans-serif;
}


/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color:  rgb(112, 78, 238);
    min-height: 100px; /* responsive */
    padding: 0 20px;
}


/* Hamburger menu */


.hamburger {
    display: none;
    cursor: pointer;
    margin-right: 20px;
    border-style: none;
    background-color: white;
    padding: 15px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    background-color: rgb(112, 78, 238);
}


/* Navbar and main configuration */


.nav-and-main {
    display: flex; 
}


/* Left Navbar */


.nav-menu {
    flex: 0 0 260px; /* ne grandit pas, ne rétrécit pas, base = 260px */
    background-color: rgb(239, 236, 252);
}

.nav-menu li {
    list-style: none;
}

.nav-menu li:hover {
    background-color: #cac2ff;
}

.nav-menu a {
    color: rgb(112, 78, 238);
    display:flex;
    align-items:center;
    padding: 0px 10px 0px 30px;
    min-height: 110px; 
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family: 'GC Kualine', sans-serif;
    border-bottom: 1px solid rgba(112, 78, 238, 0.2);
}


/* Banner */


main {
    flex: 1 1 auto; /* fix fiber banner */
}

.banner {
    background-size: cover;
    background-position: center;
    min-height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
     
}

.banner-adsl {
    background-image: url("Images/Page2PhotoPrincipale.jpg"); 
}
.banner-fiber {
    background-image: url("Images/Page3PhotoPrincipale.jpg");
}
.banner-home {
    background-image: url("Images/Page1PhotoPrincipale.jpg");
}


/* Summary */


.summary {
    color: rgb(112, 78, 238);
    background-color: rgb(239, 236, 252);
    max-width: 800px;
    margin-top: 65px; 
    padding: 20px;
}

.summary a {
    display: block;
    padding: 20px 0;
    color: rgb(112, 78, 238);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family: 'GC Kualine', sans-serif;

}


/* Main content without banner */


.Content {
    padding-left: 100px;
    padding-right: 50px;
    max-width: 900px;
    width: 100%;
    background-color: white;
    color: #4d4d4d;
}

p, ul {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.8
}

/* Images */
img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain; 
}

.img-medium {
    width: 100%;
    min-width: 300px;
}

.img-large {
    width:100%
}

.img-logo {
    max-width: 150px;
}

/* List from the content */
.Content li {
    margin-left: 40px; /* fixing bullet points being to left */
}

/* Text with image on the right */
.text-with-image {
    display: flex;
    margin-bottom: 30px;
}
/* for text + image on same line we need the same margin so we reset the margin for the text because otherwise it is double margin*/
.text-with-image p {
    margin-bottom: 0px;    
}

.text-with-image img {
    margin-left: 20px;   
}

/* Table */
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center; 
    border: 2px solid black;
}

th, td {
    border: 1px solid #ccc;
    padding: 20px;
}

th {
    background-color: #2c3e50;
    color: #ecf0f1;
}

td {
    background-color: white;
    color: black;
}

/* Table color from fiber page  */
.green {
  background-color: #71b080; 
}

.yellow {
  background-color: #fcdf83; 
}

.red {
  background-color: #ee6370;
}


/* Footer */


footer {
    display: flex;               
    align-items: center;         
    justify-content: center;
    background-color: rgb(112, 78, 238);
    color: white;
    font-size: 14px;
    min-height: 200px;
         
}

footer p {
    margin: 0; 
}


/* Titles */


.site-title, h1, .summary-title, .section-title {
    font-family: 'Montserrat-B' ; 
}

.site-title {
    font-size: 20px;
    color: rgb(239, 236, 252);;
    margin: 0 50px;
}

h1 {
    font-size: 65px;
    font-weight: bold;
    color: white;
    margin:0px 100px; /* specialement pour le long titre du homepage*/
    font-family: 'Rosiana' ;
}

.summary-title {
    font-size: 20px;
    color: rgb(112, 78, 238);
    margin: 0 20px;
    margin-bottom: 10px;
}

.section-title {
    font-size: 23px;
    color: #011e2a;
    margin-bottom: 35px;
    margin-top: 65px; 
}



/* Responsive design (small screen) */


@media(max-width:768px){

    /* Header */

    /* Hamburger menu and Nav menu */
    .hamburger{
        display: block;
        margin-left: auto;   /* le pousse à droite */
        margin-right: 20px;  /* espace avec le bord */
    }
    /*Transform the hamburger menu into a cross */ 
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    /* 1. Empiler les éléments  et fais disparaitre naturellement le navbar de gauche*/
    .nav-and-main {
        flex-direction: column;
    }
    .nav-menu{
        position:fixed;
        left: -100%;
        background-color: rgb(239, 236, 252);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-menu a {
        justify-content: center;
    }
    .nav-menu.active{
        left: 0;
    }
    .nav-menu[hidden] { display: none; }


    /* Main content without banner */


    .Content {
        padding: 0 40px;
        display: flex;
        flex-direction: column ;
    }
    /* Text with image */
    .text-with-image {
        flex-direction: column;
        align-items: center;
    }
    .text-with-image img {
        margin-left: 0px;
        margin-top: 10px; 
        max-width: 350px;
        height: auto;   
    }
    .text-with-image p, .text-with-image li {
        max-width: 100%;  
    }
}


/* Special rectification for adsl cable image */

@media(max-width:1300px){
    
    .adsl-cable-img {
        flex-direction: column;
    }
}


/* font-family */


@font-face {
  font-family: 'GC Kualine';
  src: url('./fonts/GC-Kualine-Demo-BF688b24f63a0c2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-M';
  src: url('./fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-B';
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rosiana';
  src: url('./fonts/Rosiana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
